body {
    display: flex;
    background: rgb(42, 177, 222);
    min-height: 95dvh;
    width: 98%;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

img {
    width: 200px;
    height: 200px;
    border: 4px solid black;
}

.human-side, .computer-side {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(167, 16, 16)

}
